*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
     font-style: italic;
    background-image: url('../Imagenes/inicio.jpg');
    background-size: 100% 100%;
    background-color: #ffffff; /* relleno si sobra espacio */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  

    height: 100vh;
}

/* ===== MENÚ LATERAL ===== */

nav{
   
    position: fixed;
    left: 0;
    top: 115;
    width: 260px;
    height: 100%;
    padding-top: 80px;
}

nav ul{
     list-style: none;
    padding-left: 55px;
}

nav ul li{
   
margin: 28px 0;
}

nav ul li a{
    
     width: 190px;
    text-align: center;
     display: block;
    background: rgba(7, 7, 90, 0.85);
    padding: 11px 17px;
    border-radius: 12px;
    font-size: 17px;
    font-weight: 600;
    color: #e5e5e5;
    text-decoration: none;
    margin-bottom: 9px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: all 0.3s ease;

}

nav ul li a:hover{
    margin-left: 10px;
    color: #f1c40f;
      margin: 22px 0;
}

/* ===== TEXTO SOBRE EL FONDO ===== */

main{
    position: absolute;
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%);
    max-width: 520px;

    background: rgba(255,255,255,0.88);
    padding: 35px;
    border-radius: 20px;

    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    backdrop-filter: blur(6px);

    text-align: center;
}

main h1{
      font-family: 'Georgia', serif; 
       font-size: 42px;
    color: #0d2c54;
    margin-bottom: 15px;

}

main p{
     font-size: 17px;
    color: #333;
    line-height: 1.6;
}